.calculator {
  width: 300px;
  background-color: #f0f0f0;
  margin: 35px 0 0 35px;
}

.display {
  height: 25px;
  background-color: #777482a3;
  color: #fff;
  padding: 10px;
  text-align: right;
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  cursor: pointer;
}

.row {
  display: flex;
}

.button:hover {
  background-color: #ccc;
}

.operator {
  background-color: #f49313dd;
  color: white;
  font-weight: bold;
}

.row5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row5 :first-child {
  grid-column: span 2;
}
