.calculator {
  width: 300px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 100px auto 0 auto;
  padding: 20px;
}

.display {
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
  width: 100%;
  padding: 10px;
    border-radius: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  cursor: pointer;
    transition: background-color 0.3s;
}

.row {
  display: flex;
  gap: 10px;
}

.button:hover {
  background-color: #ccc;
}

.operator {
  background-color: #f49313dd;
  color: white;
  font-weight: bold;
}

.row5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row5 :first-child {
  grid-column: span 2;
}

.quote {
  color: #9c5b05;
  position: relative;
  width: 300px;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  margin: 20px auto;}
